@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --color-one: #232323;
  --color-two: #f7d9c4;
  --color-five: #777777;
  --color-four: #ff8484;
  --color-text: #232323;
  --color-background-1: #dce8eb;
  --color-background-2: #efefef;

  --font: "DM Sans", sans-serif;
}
body {
  font-family: "DM Sans", sans-serif;
  color: var(--color-text);
}
.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 15px;
    padding: 15px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 15px;
    padding: 15px;
  }
}
